<h1>Stupid Coaching</h1>

<div class="ans">
  <%= @question %>
  <p> -You</p>
</div>

<div class="ans">
  <%= @answer %>
  <p> -Your coach</p>
</div>

<div id="link">
  <%= link_to "Ask a new question", '/ask' %>
</div>

